<div class="address-info-container">
  <h3>Please fill in your details</h3>
    <div>
        Id:<br>
        <input id="personId"
               type="number"
               [(ngModel)]="addressInfo.id" >
        <br>
        Street:<br>
        <input id="street"
               type="text"
               [(ngModel)]="addressInfo.street" >
        <br>
        City:<br>
        <input id="city"
               type="text"
               [(ngModel)]="addressInfo.city" >
        <br>
        Postal_Code:<br>
        <input id="postalCode"
               type="number"
               [(ngModel)]="addressInfo.postalCode" >
        <br>
  </div>
</div>
